* {
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}

body {
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('background.jpg');
    background-size: cover;                   
    background-repeat: no-repeat;
    background-position: center center; 
}

.left {
    position: absolute;
    top: 20px;
    left: 80px;
    display: inline-block;
    /* border: brown solid 2px; */
}

.left:hover {
    cursor: pointer;
}

.left img {
    width: 50px;
    height: 40px;
    /* inverts imgage color */
    /* filter: invert(100%); */
    margin: 0px;
}

.left div {
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    margin: 0px;
    line-height: 10px;
}

.mid {
    display: block;
    width: 50%;
    margin: 20px auto;
    /* border: brown solid 2px; */
}

.right {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    /* border: brown solid 2px; */
}

.btn {
    margin: 0 5px;
    /* background-color: grey; */
    /* color: white; */
    padding: 1px 5px;
    font-size: 15px;
    border: wheat solid 2px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn:hover {
    background-color: wheat;
}
.navbar {
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.navbar li {
    display: inline-block;
    padding: 0px;
    margin-top: 0px;
}

.navbar li a {
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
}

/*.active or a.active not wroking */

/* this is working */
/* li a.active {
    color: grey;
} */

.navbar li a:hover, .navbar li a.active {
    color: wheat;
    text-decoration: underline;
}

.container {
    border: white solid 2px;
    margin: 100px 100px;
    width: 350px;
    border-radius: 5px;
    padding: 25px;
    font-size: 20px;
}

.container h2 {
    margin: 0px;
    text-align: center;
}

.container button {
    display: block;
    width: 60px;
    margin: auto;
}

.form-group input {
    text-align: center;
    display: block;
    width: 200px;
    padding: 2px;
    margin: 5px auto;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 15px;
    border: wheat solid 2px;
    border-radius: 5px;
}